body{
    margin: 0;
    padding: 0;
}
.audit>div{
    width: 100%;
    margin: 0 auto;
}
[v-cloak]{
    display: none;
}

.head{
    width: 100%;
    height: 3.5rem;
    background: #0cd4d3;
    text-align: center;
    line-height: 3.5rem;
    color: white;
    font-size: 1.5rem;
    position: relative;
}
.headReturn{
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    top: 0;
    left: 0;
    
}
.headReturn img{
    width: 50%;
    height: 50%;
    padding: 25%;
}
.auditImg{
    width: 10rem;
    height: 10rem;
    
    margin: 0 auto;
    margin-top: 5rem;
}
.auditImg img{
    width: 100%;
    height: 100%;
}
.auditTitle{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
}
.audittext{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 0.5rem;
}
.auditBtn{
    width: 90%;
    margin: 0 auto;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    background: #0CD4D3;
    color: white;
    border-radius: 0.5rem;
    margin-top: 5rem;
}