*{
    padding: 0;
    margin: 0;
}
[v-cloak]{
    display:none;
}
html{
    background: #F1F1F1;
}
p{
    margin: 0;
}
.centerBox{
    background: #fff;
    margin-top: 0.9rem;
}
.span{
    color: red;
}
.inputs{margin-top: 0.5rem;
    border: none;
    outline: none;
    height: 2rem;
    width: 100%;
}
.centerBox .dddddd{
    padding: 0.5rem;
    box-sizing: border-box;
    border-bottom: 0.1rem solid #f1f1f1;
}
.centerBox  .qudiao{
    border-bottom: none;
  }
/* 图片上传 */
.upImg{
    border:  1px solid #ddd;
    width: 12rem;
    height: 8rem;
    border-radius: 6px;
    position: relative;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    font-size: 20px;
}
.dsfafd{
    display: none;
  }
  .upImg img{
    width: 100%;
    height: 100%;
    border-radius: 6px;

  }
  .upImg.active{
    border:  1px solid #0090fa;
  }
  .upImgbtn{
    position: absolute;
    left: 25%;
    bottom: 5%;
    width:50%;
    height: 20%;
    border-radius: 15px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
  
  }
  .upseccs{
    position: absolute;
    bottom: 0;
      width: 100%;
    height: 20px;
    background: #0090fa;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
  }
  .imgblog{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.5rem;
  }
  .ReturnButton{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ReturnButton .ButtonDiv{
    width: 70%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  /* .ButtonDiv .PreviousStep{
    width: 45%;
    height: 3rem;
    background-color: white;
    color: #030303;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid #9597a6;
  } */
  .ButtonDiv .Establish{
    width: 100%;
    height: 3rem;
    background-color: #0CD4D3;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  